<div class="model-input {{ model.type }}" ng-show="model" ng-mouseover="mouseOver($event)" ng-mouseleave="mouseOut($event)">

  <button class="btn btn-danger remove" ng-click="remove(model)">X</button>
  <enum-input class="type" model="model" field="type" enum-values="typeNames"></enum-input>
  <enum-input class="name" model="model" field="name" enum-values="refNames"></enum-input>

  <number-input value="model.height" label="height"></number-input>
  <number-input value="model.width" label="width"></number-input>
  <number-input value="model.radius" label="radius"></number-input>
  <array-input array="model.radii" label="radii"></array-input>
  <array-input array="model.dimensions" label="dimensions"></array-input>
  <array-input array="model.position" label="position"></array-input>
  <array-input array="model.rotation" label="rotation"></array-input>
  <number-input value="model.roundness" label="roundness"></number-input>
  <boolean-input value="model.bevelEnabled" label="bevel enabled"></boolean-input>
  <span ng-if="model.bevelEnabled">
    <number-input value="model.bevelThickness" label="bevel thickness"></number-input>
    <number-input value="model.bevelSize" label="bevel size"></number-input>
    <number-input value="model.bevelSegments" label="bevel segments"></number-input>
  </span>
  <two-dim-array-input array="model.points" label="points" minimal-length="3"></two-dim-array-input>

  <object-input object="model.repeat" label="repeat"></object-input>

  <material-input material="model.material" label="material"></material-input>

  <glow-input glow="model.glow" label="glow"></glow-input>

  <model-input
    ng-if="model.parts"
    ng-repeat="(key, part) in model.parts track by $index"
    model="part">
  </model-input>

  <button
    class="btn btn-outline-info restore"
    ng-if="model._parts && model._parts.length > 0"
    ng-click="restore()">Restore</button>

  <button
    class="btn btn-outline-success add"
    ng-if="model.parts"
    ng-click="addPart()">+</button>

</div>
