<div class="input object">
  <boolean-input value="object.enabled" label="material"></boolean-input>

  <span ng-show="object.enabled">
    <enum-input model="object" field="type" enum-values="materialNames" label="type"></enum-input>
    <!--<simple-input value="object.times" label="repeat-times"></simple-input>-->
    <!--<array-input array="object.position" label="repeat-position"></array-input>-->
    <!--<array-input array="object.rotation" label="repeat-rotation"></array-input>-->
  </span>
</div>
