<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <form class="form-inline mt-2 mt-md-0 mr-auto">
    <input
      type="checkbox"
      name="isRotationActive"
      id="isRotationActive"
      ng-model="config.isRotationActive"
      class="form-control">
    <label for="isRotationActive">Rotation</label>
    <input
      type="checkbox"
      name="isMarkOnMouseOver"
      id="isMarkOnMouseOver"
      ng-model="config.isMarkOnMouseOver"
      class="form-control">
    <label for="isMarkOnMouseOver">Mark on mouseover</label>
  </form>
  <form class="form-inline mt-2 mt-md-0">
    <div ng-if="error" class="notification error">
      {{ error }}
      <button class="btn btn-danger remove" ng-click="hideError()">Ok</button>
    </div>
    <div ng-if="success" class="notification success">{{ success }}</div>

    <select
      class="form-control"
      ng-model="catalogDefinitionName"
      ng-options="name for name in catalogDefinitionNames">
    </select>
    <input type="text" class="form-control mr-sm-2" placeholder="Save as" aria-label="Save as" ng-model="saveCatalogDefinitionName"/>
    <button class="btn btn-outline-success my-2 my-sm-0" ng-click="save()">
      Save
    </button>
    <button class="btn btn-outline-info my-2 my-sm-0" ng-click="newDefinition()">
      New
    </button>
  </form>
</nav>
