<div class="controls row">
  <div class="preview-controls cell">
    <input type="checkbox" name="isRotationActive" id="isRotationActive" ng-model="config.isRotationActive">
    <label for="isRotationActive">Rotation</label>

    <div ng-if="error" class="notification error">{{ error }}</div>
    <div ng-if="success" class="notification success">{{ success }}</div>
  </div>
  <div class="input-controls cell">
    <select
      ng-model="catalogDefinitionName"
      ng-options="name for name in catalogDefinitionNames">
    </select>
    <input type="text" class="save" ng-model="saveCatalogDefinitionName"/>
    <button class="glyphicon glyphicon-asterisk" ng-click="save()">
      <span class="glyphicon-glyphicon-asterisk"></span>
    </button>
    <button ng-click="newDefinition()">New</button>

  </div>
</div>
