nav.navbar {
  color: #fff;

  select,
  input,
  button {
    margin-right: 5px !important;
  }

  select {
    background: #555 !important;
    border: 1px solid #000;
    color: #000 !important;
  }

  label {
    margin-right: 20px;
  }
}

.notification {
  padding: 0 20px;

  .btn {
    margin: 0 15px;
  }

}

