button {
  cursor: pointer;
}

.model-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 10px 0 10px;

  .model-input {
    margin: 10px 0;
  }

  .remove {
    float: right;
  }

  select,
  input[type=number],
  input[type=text] {
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    color: #777;
    padding: 5px;
    border-radius: 5px;

    &.color-picker {
      border: none;
      padding: 6px;
      color: #000 !important;

      &.dark {
        color: #fff !important;
      }
    }
  }

  .input label {
    width: 150px;
  }

  input[type=number],
  input[type=text] {
    background: none;
    width: 80px;
    margin-right: 10px;
  }

  .material {
    input[type=number],
    input[type=text] {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .input.enum.type {
    select {
      font-size: 1.3em;
    }
  }

  .input {
    margin-bottom: 10px;
  }

  .add {
    width: 100%;
    margin-bottom: 10px;
  }

  .restore {
    width: 100%;
    margin-bottom: 10px;
  }


  .material {

    border-radius: 5px;

    &:hover {
      background: rgba(255,255,255,0.05);
    }

    &.enabled {
      background: rgba(255,255,255,0.1);
    }

    .header {
      font-size: 1.3em;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .content {
      padding: 10px 10px 1px 10px;
    }
  }

}
