.modeller {
  background: #000;
  color: #fff;
}

.notification {
  &.error {
    color: #f88;
  }
  &.success {
    color: #8f8;
  }
}


@mixin model($border, $background) {
  border-color: $border;
  background: $background;

  select,
  input[type=number],
  input[type=text] {
    border-color: $border;
  }
}

.model-input {

  // Composite -> green
  &.composite {
    @include model(#8f8, #121);
  }

  // Box -> blue
  &.box {
    @include model(#08f, #012);
  }

  // Ref -> red
  &.ref {
    @include model(#f88, #211);
  }

  // Cylinder -> orange
  &.cylinder {
    @include model(#fa0, #210);
  }

  // Extrude -> violet
  &.extrude {
    @include model(#f8f, #212);
  }
}
